body div{
    font-size:12px;
}

body table{
    font-size:12px;
}

#formingreso{
    margin-left: auto;
    margin-right: auto;
    background-color: white;   
}

#formingreso h2{
    width: 500px;   
}

#presentacion{
    background-color: white;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 1px gray solid;
    width: 1000px;
    min-height: 450px;
    height: auto;
    border-radius: 5px;
}

#registro{
    font-size: 15pt;
}

#registro a{
    font-size: 15pt;
    color: red;
    font-weight: bold;
}

#contenedor-menu{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
    border: 1px gray solid;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

#fondo{
    background-image: url('../images/textura.jpg');
    width: 100%;
    height: 100%;
    background-repeat: repeat-x repeat-y;
    padding-top: 150px;
}