.arrowsidemenu{
	width: 220px; /*width of menu*/
	height:490px;
	/*border-style: solid solid none solid;
	border-color: #D19D01;
	border-size: 1px;
	border-width: 1px;*/
	background-image:url(../images/barra1.png);
}
	
/*//header bar links*/
.contenido{
	padding: 265px 0px 0px 5px;
}

.contenido div{
	background:url(../images/boton.png);
	background-position:inherit;
	background-repeat:no-repeat;
	height:20px;
	padding-top:8px;
}

.contenido div a{
	font: bold 11px Arial, Verdana, Helvetica, sans-serif;
	padding: 0px 0px 0px 17px;
/*	display: block;
	background: transparent url(arrowgreen.gif) 100% 0;
	line-height: 10px;
	text-decoration: none;
	padding: 8px 0 4px 10px;*/
}
	
.arrowsidemenu div a:link, .arrowsidemenu div a:visited{
	color:#000000;
}

.arrowsidemenu div a:hover{
	background-position: 100% -32px;
}

/*header that's currently not selected*/
.arrowsidemenu div.unselected a{ 
	color: black;
}

/*header that's currently selected*/
/*.arrowsidemenu div.selected a{ 
	color: #D19D01;
	background-position: 100% -64px !important;
}*/

.arrowsidemenu ul{
	list-style-type:none;
	color:#000000;
	margin: 2px 0px 2px 15px;
	padding: 0;
	font-size:12px;
}

.arrowsidemenu ul li{
	list-style-type:none;
/*	border-bottom: 1px solid #D19D01;*/
	font-size:12px;
	color:#000000;
	margin: 2px 0px 2px 0px;
}

/*sub menu links*/
.arrowsidemenu ul li a{ 
/*	display: block;*/
	font: normal 12px Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: black;
	height: 8px;
/*	padding: 5px 0 0 5px;*/
}

.arrowsidemenu ul li a:hover{
	background: #D19D01;
}